body{
   margin:0;
   padding:0;
   text-align:center;
   margin-top:50vh;
   background-image:url("trommer.jpg");
   background-size:cover;
   background-repeat: no-repeat;
}

#container{
   display:flex;
   justify-content:center;
}


/*
button styling.
*/
kbd{
   padding:10px;
   width:100px;
   margin-left:20px;
   font-size:20px;
   font-weight:bolder;
   cursor:pointer;;
   background-color:beige;
   border:solid 5px black;
}

/*
showing which button to press.
*/
span{
   font-weight:bolder;
   text-shadow: 1px 1px 1.5px black;
}

/*
just a little hover easter-egg
*/
kbd:hover {
   animation: shake 0.4s;
   animation-iteration-count: infinite;
 }
@keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
 }